<!-- Header -->
  <header class="masthead">
    <div class="container">
      <div class="intro-text">
        <div class="stars"><%= image_tag "stars.svg"%></div>
        <div class="intro-heading text-uppercase">Je note mon camping-car</div>
        <div class="intro-lead-in">Le premier outil indépendant de notation et d'avis camping-cars, vans & fourgons aménagés.</div>
        <%= link_to 'inscription', inscription_path, class: "btn btn-primary btn-xl text-uppercase js-scroll-trigger" %>
      </div>
    </div>
  </header>

  <!-- Services -->
  <section class="page-section" id="services">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Avis de camping-car</h2>
          <h3 class="section-subheading text-muted">L'achat d'un camping car, d'un van ou d'un fourgon aménagé nécéssite une longue réfléxion. Pour vous aider, consultez les avis campings cars laissé par d'autres membres de la communauté.</h3>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">Noter un camping-car</h4>
          <p class="text-muted">Fourgon, Van, Caravane ... Donner votre avis sur les véhicules de loisirs dont vous êtes ou avez été propriétaire. Vous pouvez également noter ceux que vous avez déja esssayé.</p>
        </div>
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">Les avis camping-cars</h4>
          <p class="text-muted">Pour vous aider à juger de la qualité d'une marque de camping-car, vous pouvez consulter les avis que d'autres camping-caristes ont laissé sur des modèles. </p>
        </div>
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-lock fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">Aider la communauté</h4>
          <p class="text-muted">Discutez & poser des questions aux autres utilisateurs d'un modèle ou d'une marque afin de trouver toutes les réponses dont vous avez besoin pour avancer dans vos recherches.</p>
        </div>
        <div class="cta-brand-grid">
          <%= link_to 'inscription gratuite', inscription_path, class: "btn btn-primary btn-xl text-uppercase js-scroll-trigger" %>
        </div>
      </div>
    </div>
  </section>

  <!-- Brands Grid -->
  <section class="bg-light page-section" id="portfolio">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Les Marques</h2>
          <h3 class="section-subheading text-muted">Quelques marques de camping-cars, vans ou fourgons aménagés que vous pourrez noter sur ce site.</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="http://agence-connivence.fr/wp-content/uploads/2013/12/chausson-logo.jpg" alt="">
          </a>
          <div class="portfolio-caption">
            <h4>Chausson</h4>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal2">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="https://i.wheelsage.org/pictures/hymer/logotypes/autowp.ru_hymer_logo_1.jpg" alt="">
          </a>
          <div class="portfolio-caption">
            <h4>Hymer</h4>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal3">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="https://i.wheelsage.org/pictures/adria/logotypes/autowp.ru_adria_logo_2.jpg" alt="">
          </a>
          <div class="portfolio-caption">
            <h4>Adria</h4>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="https://www.campingcarlesite.com/wp-content/uploads/2018/07/Logo_Challenger_2019.jpg" alt="">
          </a>
          <div class="portfolio-caption">
            <h4>Challenger</h4>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal5">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="https://i.wheelsage.org/pictures/westfalia/logotypes/autowp.ru_westfalia_logo_3.jpg" alt="">
          </a>
          <div class="portfolio-caption">
            <h4>Westfalia</h4>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal6">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="https://s31.wheelsage.org/format/picture/picture-preview-large/mobilvetta/logotypes/autowp.ru_mobilvetta_logo_1.jpg" alt="">
          </a>
          <div class="portfolio-caption">
            <h4>Mobilvetta</h4>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- About -->
  <section class="page-section" id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Comment ça fonctionne ?</h2>
          <h3 class="section-subheading text-muted">Comment s'inscrire et accèder à l'outil.</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <ul class="timeline">
            <li>
              <div class="timeline-image">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="subheading">Demandez un accès</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">Vous devez être inscrit pour accèder à Je Note Mon Camping-car. Demander un accès en renseignant votre adresse email.</p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-image">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="subheading">Attendre l'acceptation</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">Afin de garantir l'exactitude des notations, nous devons examiner chaque demande d'accès afin d'éviter les faux avis. Cela peut prendre du temps.</p>
                </div>
              </div>
            </li>
            <li>
              <div class="timeline-image">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="subheading">C'est tout bon !</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">Un email de confirmation vous sera envoyé dès que votre accès sera crée ! Vous pourrez ensuite utiliser l'outil :)</p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-image">
                <h4>Plus
                  <br>d'infos
                  <br>bientôt !</h4>
              </div>
            </li>
          </ul>
        </div>
        <div class="cta-brand-grid">
          <%= link_to 'inscription gratuite', inscription_path, class: "btn btn-primary btn-xl text-uppercase js-scroll-trigger" %>
        </div>
      </div>
    </div>
  </section>

  <!-- Contact -->
  <section class="page-section" id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Contactez nous</h2>
          <h3 class="section-subheading text-muted">Nous sommes disponible pour toutes vos questions :).</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">

          <form id="contactForm" name="sentMessage" novalidate="novalidate" action="https://v2-api.sheety.co/ccf031224e80e5564aa34331608a32a8/mySheetyApi/message">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <input class="form-control" id="name" type="text" placeholder="Votre prénom *" required="required" data-validation-required-message="Veuillez renseignez votre prénom.">
                  <p class="help-block text-danger"></p>
                </div>
                <div class="form-group">
                  <input class="form-control" id="email" type="email" placeholder="Votre email *" required="required" data-validation-required-message="Oups ! Nous avons besoin de votre email pour vous recontacter :)">
                  <p class="help-block text-danger"></p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <textarea class="form-control" id="message" placeholder="Votre message *" required="required" data-validation-required-message="Oups ! Vous n'avez pas renseigné de message !"></textarea>
                  <p class="help-block text-danger"></p>
                </div>
              </div>
              <div class="clearfix"></div>
              <div class="col-lg-12 text-center">
                <div id="success"></div>
                <input id="sendMessageButton" class="btn btn-primary btn-xl text-uppercase" type="submit" value="Envoyer">
              </div>
            </div>
          </form>
          <div id="flash-succes" class="flash flash-success alert alert-dismissible fade show" role="alert" id="ok" style="display: none;">
            <span><strong>Super!</strong> 🎉 Nous avons bien reçu votre message.</span>
            <a data-dismiss="alert" aria-label="Close">
              <i class="fas fa-times"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <script type="text/javascript">
$(document).ready(function(){
  $('#contactForm').submit(function(e) {
    e.preventDefault();
    let form = $(this);
    $.ajax({
      type: 'post',
      dataType: 'json',
      url: form.attr('action'),
      data: {
        message: {
          name: $('#name').val(),
          email: $('#email').val(),
          message: $('#message').val()
        }
      },
      success: function() {
        $('#flash-succes').show();
        $('#contactForm').hide();
      }
    });
  });
});
</script>

